.current-body {
  background: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  flex-direction: column; }

table {
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  font-weight: 500; }

th,
td {
  padding: 8px;
  border: 1px solid black; }

th {
  color: #b0a1a1; }

.received-message {
  width: 80%;
  display: none;
  flex-direction: column;
  gap: 30px; }
  .received-message th {
    width: 20%; }
  .received-message button {
    width: 10%;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer; }
  .received-message div:first-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; }
  .received-message table {
    width: 100%;
    text-align: start; }
  .received-message p {
    color: #681717;
    font-weight: 500; }

.message-certificates {
  width: 80%;
  display: flex;
  display: none;
  flex-direction: column;
  gap: 15px; }
  .message-certificates > div:first-child {
    color: #681717;
    font-size: 20px; }
  .message-certificates > div:last-child {
    display: flex;
    justify-content: start; }
  .message-certificates table {
    width: 70%; }
  .message-certificates img {
    width: 30px;
    margin-left: 5px; }

.btnBack {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer; }

.permission-table {
  width: 80%; }

a {
  text-decoration: none;
  color: #681717; }
