.current-body {
  background: none; }

.current-page {
  text-transform: capitalize; }

.form-edit {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px; }
  .form-edit > div:not(.form-buttons) {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr; }

.form-buttons {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px; }
  .form-buttons button {
    font-weight: 600;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    font-size: 15px; }

.btn-submit,
.btn-cancel {
  display: none; }

input {
  background-color: #d9d9d9;
  outline: none;
  border: 1px solid #775732;
  border-radius: 5px;
  padding-left: 10px;
  width: 95%;
  font-size: 20px;
  color: black; }

label {
  font-weight: 600;
  font-size: 30px; }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }

.modal-message {
  background-color: #d9d9d9;
  width: 30%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  padding: 30px; }

.message {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.message img {
  width: 5%; }

.message-btn {
  padding: 5px;
  width: 10%;
  border-radius: 5px;
  cursor: pointer; }

.form-phone span {
  font-size: 15px;
  color: red;
  visibility: hidden; }

.btn-submit {
  pointer-events: none; }

.hierarchy {
  font-size: 20px;
  color: #490d00; }
